<%- contentFor('content')%>
<div class="d-flex flex-row content justify-content-center mx-auto">
    <form class="card w-50" action="<%=url%>" method="post">
        <div class="card-header">
            Réinitialisation du password
        </div>
        <div class="card-body">             
            <div class="form-group">
                <label>
                    Password
                </label>
                <input class="form-control <%if(locals.errors && errors && errors.password){%>is-invalid<% } %>" 
                    name="password" type="password" id="password" placeholder="" >
                    
                <div class="invalid-feedback">
                    <% if(locals.errors && errors && errors.password) { %>
                        
                        <%=errors.password.message%>
                    
                    <% } %>
                </div>  
            </div>     
            <div class="w-100">
                <input type="submit" value="Reset Password" class="btn btn-primary d-block ml-auto btn-tweet">    
            </div>       
        </div>
    </form>
</div>  